$field_size: 80;
$sudoku_max_size: 800px;
:host{
    width:80vh;
    height:80vh;
    margin:auto auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    max-height:$sudoku_max_size;
    max-width:$sudoku_max_size;
    border:1px solid black;
    button{
        margin:0px;
        padding:0px;
        flex:1;
        grid-auto-rows: 1fr;   
    }
    button:before:nth-child(0){
        content: ' ';
        display: block;
        width: 0px;
        padding-top: 100%;/* Percentage value in padding derived from the width  */
    }
    
}